[run]
branch = true
source = magic_cards

[report]
omit =
    *site-packages*
    *tests*
    *.tox*
show_missing = True
exclude_lines =
    raise NotImplementedError

[paths]
source =
   src/magic_cards
   .tox/*/lib/python*/site-packages/magic_cards
   .tox/pypy*/site-packages/magic_cards
